*{
    padding: 0px 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > h3{
    color: rgb(14, 14, 14);
    font-weight: 700px;
    font-size: 32px;

}
.navbar > button{
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    background-color: white;
    height: 52px;
    width: 116px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* main section started */

.hero_section{
    margin-top: 20px;
    width: 1280px;
    height: 560px;
    gap: 64px;
    background-color: rgba(198, 228, 214);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 24px;
    margin-left: 30px;
    
}


.hero_section > img{
    width: 474px;
    height: 329px;
    
}

.bangladesh_two_point_zero{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500px;
    margin-top: 10px;
    
    
}
.idea{
    font-weight: 700;
    font-size: 56px;
    color: (14, 14, 14);
    
}

.hero_btn{
    background-color:rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    border: none;
    margin-left: 25px;
    
}

/* hero section ended */

.pillars_of_bd{
    margin-top: 80px;
}

.pillars_of_bd_title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    }

.cards{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

/* card1 */

.card1{
    display: flex;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-star;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
}

.card1 > h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.card1 > p{
    font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

/* card 2 */

.card2{
    display: flex;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-star;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
}

.card2 > h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.card2 > p{
    font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

/* card 3 */

.card3{
    display: flex;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-star;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
}

.card3 > h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.card3 > p{
    font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}

/* card 4 */

.card4{
    display: flex;
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-star;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 24px;
}

.card4 > h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.card4 > p{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}


/* Pillars of "Bangladesh 2.0" section ended */

.the_vision_of_future_title{
    margin-top: 80px;
}

.the_vision_of_future_title > p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.the_vision_of_future_title > h3{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.bluecard_container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

/* card 1 */

.bluecard1{
    width: 410.67px;
height: 325px;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
justify-items: start;
align-content: center;
}

.bluecard1 h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.bluecard1 > p{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.bluecard1 > button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 20px;
    margin-top: 24px;
}

/* card 2 */

.bluecard2{
    width: 410.67px;
height: 325px;
border-radius: 16px;
background: rgba(198, 228, 214);
justify-items: start;
align-content: center;
}

.bluecard2 h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.bluecard2 > p{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.bluecard2 > button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 20px;
    margin-top: 24px;
}

/* card 3 */

.bluecard3{
    width: 410.67px;
height: 325px;
border-radius: 16px;
background: rgba(247, 235, 207);
justify-items: start;
align-content: center;
}

.bluecard3 h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.bluecard3 > p{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.bluecard3 > button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 20px;
    margin-top: 24px;
}

/* dr yunus */

.dr_younus{
    margin-top: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    height: 256px;
    display:inline-block;
    justify-items: start;
    align-content: center;
}

.quote-bg{
    position: static;
width: 64px;
height: 64px;
flex-grow: 0;
margin: 12px 0px;
}

.aboutyunus{
    color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
position: static;
}

.nameofyunus{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
}

.younus{
    color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
}

/* Select Your Opinion section started */

.Your_Opinion_Matters{
    margin-top: 80px;
    width: 1280px;
height: 409px;
}

.Your_Opinion_Matters_title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;

}


.allquestion{
    padding: 32px;
    width: 1280px;
height: 370px;
border-radius: 16px;
background: rgb(255, 255, 255);
}

.Questions{
    border: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(198, 228, 214);
display: flex;
justify-content: space-between;
}

#Questions{
    color: rgb(14, 14, 14);
font-size: 20px;
font-weight: 600;
}

#Select{
    color: rgb(14, 14, 14);
font-size: 20px;
font-weight: 600;
}

.Questions1{
    padding: 0;
    height: 92px;;
border: 1px solid rgba(14, 14, 14, 0.15);
background: rgba(255, 255, 255, 0.1);
display: flex;
justify-content: space-between;
}

.Questions1p{
    color: rgb(14, 14, 14);
font-size: 16px;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
}

.Questions1btn{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Questions1button{
border: 1px solid rgb(14, 14, 14);
border-radius: 4px;
background: rgb(198, 228, 214);
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 16px;
font-weight: 800;
width: 152px;
height: 44px;
}

/* Select Your Opinion section ended */

.Recent_News_Section{
    margin-top: 100px;
}

.Recent_News_title_h3{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
}

.Recent_News_title_p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}


/* Bangladesh_Launches New_Satellite1 */

.Bangladesh_Launches_New_Satellite1{
    display: flex;
    gap: 32px;
    height: 402px;
    padding: 48px;
    justify-content: center;
    align-items: center;
}

.image-containe{
    width: 408px;
height: 306px;
border-radius: 30px;
}

.Bangladesh_Launches_New_Satellite1h3{
    color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
}

.Bangladesh_Launches_New_Satellite1_img2{
    width: 134px;
height: 40px;
}

.time_and_date{
    display: flex;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.Bangladesh_Launches_New_Satellite1_p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}


/* satellite 2 */

.Bangladesh_Launches_New_Satellite1{
    display: flex;
    gap: 32px;
    height: 402px;
    padding: 48px;
    justify-content: center;
    align-items: center;
}

.image-containe{
    width: 408px;
height: 306px;
border-radius: 30px;
}

.Bangladesh_Launches_New_Satellite1h3{
    color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
}

.Bangladesh_Launches_New_Satellite1_img2{
    width: 134px;
height: 40px;
}

.time_and_date{
    display: flex;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

.Bangladesh_Launches_New_Satellite1_p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.readmorebtn{
    width: 139px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
margin-top: 32px;
margin-left: 20px;
}

/* Donate_Today_title */


.Donate_Today_title{
    margin-top: 80px;
}

.Donate_Today_title > h3{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
display: flex;
align-items: center;
justify-content: center;
}

.Donate_Today_title > p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
display: flex;
justify-content: center;
line-height: 1.5;
text-align: center;
}

.donatetakacards{
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 128px;
    margin-top: 32px;
}

/* taka card 1 */

.Donate_Today_card1{
    width: 240px;
height: 128px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(237, 235, 235, 0.252);
}

.Donate_Today_card1 > h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}

.Donate_Today_card2{
    width: 240px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 24px;
background: rgb(198, 228, 214);
}

.Donate_Today_card2 > h4{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
}

.other_amount{
    width: 1032px;
height: 64px;
background: rgba(237, 235, 235, 0.252);
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
margin-top: 32px;
margin-left: 124px;
display: flex;
align-items: center;
justify-content: center;
}

.other_amount > p{
    color: rgba(14, 14, 14, 0.3);
font-size: 20px;
font-weight: 400;

}

.donebtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.done_now_btn{
    width: 151px;
height: 56px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
margin-top: 32px;
}

/* Subscribe Newsletter section started */

.Subscribe_Newsletter_container{
    height: 395px;
    border-radius: 24px;
background: rgb(198, 228, 214);
margin-top: 80px;
padding: 80px 100px;
}

.Subscribe_Newsletter > h4{
    color: rgb(14, 14, 14);
display: flex;
justify-content: center;
font-size: 40px;
font-weight: 700;
}

.Subscribe_Newsletter > p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
text-align: center;
display: flex;
justify-content: center;
}

.input{
    gap: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 25px;
}

.input > input{
    width: 600px;
height: 55px;
border: none;
    border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
}

.input > button{
    width: 150px;
height: 56px;
border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
display: flex;
align-items: center;
justify-content: center;
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border: none;
}

.footerimgs{
    display: flex;
    gap: 23px;
    justify-content: center;
}

footer{
    padding: 50px 160px;
    width: auto;
height: 202px;
margin-top: 80px;
background-color: rgba(234, 229, 229, 0.334);
}

.footerimgs > img{
    width: 24px;
height: 24px;

}

footer > h3{
    color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
display: flex;
justify-content: center;
}